/* common */
:root{
  --primary-color:#FA4A0C;
  --white-color: #fff;
  --black-color: #000;
  --text-title-color: #252B42;
  --text-banner-color:#F7F7F7;
  --text-color: #737373;
  --boder-color: #dbdbdb;

  --header-height:156px;
  --navbar-height: 48px;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


html{
  /*doi 1rem = 10px thay vi 1rem =16px */
  font-size: 62.5%; 
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  
}


.btn{
    
    height: 68px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0 12px; 
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}


.header__navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.header__logo{
    justify-self: start;
    margin-left: 50px;
    cursor: pointer;
}

.header__logo-link{
  text-decoration: none;
}

.header__logo-img{
    width: 206px;
    height: 101.76px;
    left: 20px;
    top: 0px;
}
.header__menu-icon{
    color: #737373;
    display: none;
}

.header__menu-list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.header__menu-item-link{
    text-decoration: none;
    color: var(--text-title-color);
    font-weight: 600;
    line-height: 2.8rem;
    font-size: 1.6rem;
    padding: 1rem 3.5rem;
}


.header__menu-item-link:hover{
    color: var(--primary-color);
}

/* banner */
.banner{
    width: 100%;
    background: url('./img/Rectangle 48.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
}

.banner__content-text{
    width: 100%;
    line-height: 5.5rem;
}

.banner__content-text--heading{
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--text-banner-color);
    letter-spacing: 0.01rem;
    font-weight: bold;
}

.banner__content-text--title{
    width: 100%;
    max-width: 850px;
    font-size: 5.2rem;
    line-height: 8.5rem;
    color: var(--white-color);
    letter-spacing: 0.02rem;
    font-weight: 900;
}

.banner__content-text--heading,
.banner__content-text--title,
.banner__content-text--des {
    margin-bottom: 30px;
}


.banner__content-text--des{
    font-size: 2.4rem;
    line-height: 3.8rem;
    color: var(--text-banner-color);
    letter-spacing: 0.01rem;
    font-weight: 100;
    
}
.banner__content-btn{
    margin-top: 30px;
}

.btn-normal,
.btn-primary{
    min-width: 236px;
    margin-left: 50px;
}

.btn.btn-normal{
    border: 2px solid var(--text-color);
}

.btn.btn-normal:hover{
    background-color: rgba(184, 164, 164, 0.3);
}

.btn.btn-primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-primary:hover{
    background-color: #df5d2e;
}

.banner__img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    top: 150px;
}

.banner__img-1{
    position: absolute;
    margin-right: -200px;
    z-index: 1;
    left: -265px;
}

.banner__img-2{
    position: relative;
    margin-top: 130px;
    right: -94px;
}

.banner__text{
    position: relative;
    top: 480px;
}

.banner__text p {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 4.4rem;
    line-height: 3.6rem;
    font-weight: 600;
    color: #000;
}

.banner__text hr{
    width: 884px;
    border-top: 3px solid #E4E4E4;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
}

/* footer */
.footer{
    position: relative;
    display: flex;
    top: 120px;
    left: 0;
    padding: 20px 20px 10px 20px;
}

.footer__container-content{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 225px;
}


.footer__logo-link{
    text-decoration: none;
}

.footer__logo-img{
    width: 246px;
}

.footer__menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.footer__menu-item{
    margin-left: 3rem;
    box-shadow: 0 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.footer__menu-item:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.footer__menu-item--img{
    color: var(--white-color);
}

.footer__content-copyright{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #5C5C5C;
}

.contents1 h3{
    font-size: 24px;
    text-align: center;
    color: #FA4A0C;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.1;
    position: static;
    padding-top: 850px;
    margin-left: 275px;
    vertical-align: top;

}
.contents1 h1
{
    padding-left: 690px;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    color:midnightblue;
    margin-left: 50px;
    margin-right: 180px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    line-height: 57px;

}
.contents1 h2
{ 
   padding-left: 690px;
     margin-bottom: -80px;
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    margin-left: 90px;
    margin-right: 180px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    font-style: normal;
    letter-spacing: 0.2px;
    }
    .hinhanh
    {
        float: left;
        mix-blend-mode:  Pass through;
        text-align: center;
        object-fit: contain;
      
        margin-left: 180px;
        margin-top: -450px;
    }
    .hinhanh1
    {
    float: right;
    text-align: center;
    object-fit: contain;
    margin-right: 280px;
    margin-top: -610px; 
    margin-left: 150px;
    }

.hinhanh2
{
margin-top: -500px;
text-align: center;
object-fit: contain;
margin-left: 180px;
}
.contents-dow 
{
    background: url('./img/anhcontent.png')no-repeat center/cover;
    height: 564px;
    width:auto;
    padding: 110px, 24px, 110px, 24px;

}
.contents-dow h1
{
   
    color:#FFFFFF;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 100px;
    
}
.contents-dow h3
{
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: white;
    position: static;
    left: 3.77%;
    right: 3.77%;
    top: 10.42%;
    bottom: 10.42%;
    padding-top: 10px;

}
.Buy
{
    width: 137px;
    height: 66px;
    border-radius: 10px;
    padding:  18px, 31px, 18px, 31px;
    mix-blend-mode: Pass through;
    background: #FA4A0C;
    border-style: ridge;
    margin-left: 590px;
    margin-top: 60px;

}
.Buy h4{
    color: white;
    font-size: 16px;
    width: 75px;
    height: 28px;
    mix-blend-mode: Pass through;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-family: Montserrat;
    text-align: center;
    margin-left: 25px;
}
.Try 
{   margin-left: 20px;
    width: 180px;
    height: 64px;
    border-radius: 10px;
    padding:  18px, 31px, 18px, 31px;
    mix-blend-mode: Pass through;
    border-style: ridge;
    background: url('./img/anhcontent.png') no-repeat center/cover;
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid white;
    color : white ;
    
   

}
.Try h4
{
    
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-style: normal;
    font-family: Montserrat;
    color: white; 
}
.footer
{
    width: 418px;
    height: 100px;
}
.footer-icons
{
    margin-top: -200px;
    width: 418px;
    height: 100px;
   
}
.row
{
    width: 1210px;
    height: 133px;
    padding-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 150px;
}
.copy
{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-align: right;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto;
    padding-top: 30px;
}
.footer-dev i
{
    margin-left: 40px;
    padding-top: 50px;
    color: orangered;
    height: 32.02px;
    width: 32.02px;
    font-size: 50px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    
}
.devo
{
font-weight: 700;
font-size: 12px;
font-style: normal;
line-height: 18px;
letter-spacing: 0.1px;
text-align: center;
font-family: Roboto;
}
.devo
{
opacity: 0;
}
.contents2
{
    width: 1440px;
    height: 806.99px;
    background-color: white;
   
   
}

.contents2 h3{

    font-size: 24px;
    text-align: left;
    color: #FA4A0C;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.1;
    position: static;
    padding-top: 500px;
    margin-left: 275px;
    vertical-align: top;

}
.contents2 h1
{
    padding-left: 690px;
    margin-top: 30px;
    font-size: 40px;
    text-align:left;
    color:midnightblue;
    margin-left: -410px;
    margin-right: 700px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    line-height: 57px;

}
.contents2 h2
{ 
   padding-left: 690px;
    margin-top: 30px;
    font-size: 24px;
    text-align: left;
    margin-left: -420px;
    margin-right: 780px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    font-style: normal;
    letter-spacing: 0.2px;
}
.contents3 h3{
    font-size: 24px;
    text-align: left;
    color: #FA4A0C;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.1;
    position: static;
    padding-top: 850px;
   margin-left: 800px;
    margin-right: 180px;
    vertical-align: top;
    margin-top: -600px;

}
.contents3 h1
{
    padding-left: 690px;
    margin-top: 30px;
    font-size: 40px;
    text-align: left;
    color:midnightblue;
    margin-left: 110px;
    margin-right: 250px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    line-height: 57px;

}
.contents3 h2
{ 
   padding-left: 690px;
     margin-bottom: -80px;
    margin-top: 30px;
    font-size: 24px;
    text-align: left;
    margin-left: 110px;
    margin-right: 280px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    font-style: normal;
    letter-spacing: 0.2px;
    }


