/* Mobile & Tablet */
@media (min-width:1023px) {
    .hide-on-pc{
        display: none;
    }
}
@media (max-width:1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
        /* --header-with-search-height: calc(var(--header-height) - var(--navbar-height)) */
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    
}

/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet{
        display: none;
    }

}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile{
        display: none;
    }

    .header__navbar{
        position: relative;
        justify-content: start;
        height: 112px;
    }

    .header__menu-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 110px;
        left: -100%;
        opacity: 1;
        transform: all 0.5s ease;
    }

    .header__menu-list.active {
        background: #e9e7e7;
        left: 0;
        opacity: 1;
        transform: all 0.5s ease;
        z-index: 1;
    }

    .header__menu-item-link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .header__menu-item-link:hover{
        background-color: #c4c2c2;
    }

    .header__menu-icon{
        display: block;
        position: absolute;
        top: 33%;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .header__logo{
        margin-left: 25px;
    }

    .header__logo-img{
        height: 52px;
        width: auto;
        
    }

    .banner{
        background: #FAFAFA;
        padding: 0;
    }

    .banner__content{
        padding: 0px;
        margin: 0;
    }
    .banner__content-text{
        padding-top: 11%;
    }
    .banner__content-text--heading {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--text-color);
        font-weight: bold;
        letter-spacing: 0.1px;
    }
     .banner__content-text--title{
        font-size: 3.2rem;
        line-height: 4.2rem;
        color: var(--text-title-color);
        letter-spacing: 0.2px;
        padding: 0 5px;
     }
    .banner__content-text--des{
        font-size: 2.2rem;
        line-height: 3.8rem;
        color: var(--text-color);
        font-weight: 500;
    }

    .banner__content-btn{
        margin-top: 28px;
    }

    .btn.btn-normal{
        margin-top: 20px;
        border: 2px solid var(--primary-color);
        background: #FAFAFA;
        color: var(--primary-color) ;
    }

    .btn-normal, .btn-primary{
        margin-left: 0;
    }


    .banner__img-1{
        
        height: 600px;
        left: -153px;
        
    }
    .banner__img-2{
        margin-top: 75px;
        height: 350px;
        margin-right: 24px;
        
        right: -94px;
    }

    .banner__text{
        width: 100%;
        top: 450px;
        position: relative;
    }
    .banner__text p {
        position: relative;
        top: -52px;
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 600;
    }
    
    .banner__text hr{
        width: 100%;
        position: absolute;
        top: 30px;
    }
    .contents-listinfo
    {
        padding-top: 500px;
    }
    .contents h3{
        font-size: 24px;
        text-align: center;
        color: #FA4A0C;
        font-family: Montserrat;
        font-weight: 700;
        font-style: normal;
        line-height: 36px;
        letter-spacing: 0.1;
        position: static;

    }
    .contents h1
{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    color:midnightblue;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    line-height: 57px;

}
.contents h2
{   margin-bottom: -80px;
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    font-style: normal;
    letter-spacing: 0.2px;
}
.hinhanh
{
    margin-bottom: -120px;
    text-align: center;
    object-fit: contain;
    /* margin-left: 50px; */
   
}
.hinhanh1
{
    margin-bottom: -120px;
    text-align: center;
    object-fit: contain;
    /* margin-left: 50px; */
   

}
.hinhanh2
{
    margin-bottom: -120px;
    text-align: center;
    object-fit: contain;
    margin-bottom: -180px;
   
    /* margin-left: 50px; */
}
    .contents-dow 
    {
        background: #252B42;
        width:418px;
        height: 564px;
        padding: 110px, 24px, 110px, 24px;
   
    }
    .contents-dow h1
    {
       
        color:#FFFFFF;
        font-family: Montserrat;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
        padding-top: 100px;
        
    }
    .contents-dow h3
    {
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;
        font-style: normal;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: white;
        position: static;
        left: 3.77%;
        right: 3.77%;
        top: 10.42%;
        bottom: 10.42%;
        padding-top: 10px;

    }
    .Buy
    {
        width: 137px;
        height: 66px;
        border-radius: 10px;
        padding:  18px, 31px, 18px, 31px;
        mix-blend-mode: Pass through;
        background: #FA4A0C;
        border-style: ridge;
        margin-left: 40px;
        margin-top: 60px;

    }
    .Buy h4{
        color: white;
        font-size: 16px;
        width: 75px;
        height: 28px;
        mix-blend-mode: Pass through;
        font-weight: 700;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-family: Montserrat;
        text-align: center;
        margin-left: 25px;
    }
    .Try 
    {   margin-left: 20px;
        width: 180px;
        height: 64px;
        border-radius: 10px;
        padding:  18px, 31px, 18px, 31px;
        mix-blend-mode: Pass through;
        background:#252B42;
        border: 1px solid white;
        color : white ;
        
       

    }
    .Try h4
    {
        
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-style: normal;
        font-family: Montserrat;
        color: white; 
    }
    .footer
    {
        width: 418px;
        height: 100px;
    }
    .footer-icons
    {
        margin-top: -200px;
        width: 418px;
        height: 100px;
       
    }
    .image
    {
      opacity: 0;
    }
    .footer-dev i
{
  color: orangered;
  margin-left: 67px;
  text-align: right;
  height: 32.02px;
  width: 32.02px;
  font-size: 50px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 30px;
 
}
.devo
{
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-align: center;
    font-family: Roboto;
}
.copy
{
    opacity: 0;
}
}